
.section-wider {
	/*margin: 0 75px;*/
	width: 88%;
	margin: auto;
}


.inline-block{
   display: inline-block;
}


.banner img {
	width: 100%;
}


header {
	padding: 65px 0;
}

#logo-img {
	width: 140px;
}


header nav {
	width: calc(100% - 140px);
    text-align: right;
}


header nav li {
	    font-size: 14px;
    margin-right: 115px;
    text-transform: uppercase;
    color: #626262;
}

header nav li:hover {
	opacity: 0.5;
	/*color: blue;*/
}


header nav li:last-of-type {
    margin-right: 0;
}

header #logo-img, header nav {
	vertical-align: middle;
}

.banner {
	margin-bottom: 95px;
}

.section-smaller{
	width: 75%;
	margin:auto;
	

}

.about-wrapper{
	margin-bottom: 130px;
}


.news-title{
	color: #626262;
	margin-bottom: 30px;
	font-size: 40px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.category{
	text-transform: uppercase;
	color: #B4AD9E;
    margin-bottom: 30px;
    font-size: 14px;
}
.news-text{
	color: #626262;
    margin-bottom: 40px;
	font-size: 14px;
	line-height: 24px;

}
.comment{
	text-transform: uppercase;
	color: #B4AD9E;
    margin-bottom: 15px;
    font-size: 14px;
}
